@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    font-family: Inter, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
