services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: inventory-backend
    ports:
      - "3001:3001"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_INVENTORY_API_URL: http://localhost:3001
    container_name: inventory-frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"
